<section class="home">
    <div class="row p-0">
        <div class="col-lg-6 p-0 position-relative ">
            <img src="assets/images/Status=Diversity.webp" alt="">
            <div class="text d-flex flex-column align-items-center justify-content-center text-white ">
            <h3 class="fs-1 text-white text-white ">Diversity</h3>
            <p class="mt-3 fs-5 px-6 text-center ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed velit doloremque repellat vitae, possimus expedita aliquam impedit iste id?</p>
        </div>
        </div>
        <div class="col-lg-6 p-0 position-relative">
            <img src="assets/images/Status=Our collections.webp" alt="">
            <div class="text d-flex flex-column align-items-center justify-content-center text-white ">
                <h3 class="fs-1 text-white ">Diversity</h3>
                <p class="mt-3 fs-5 px-6 text-center ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed velit doloremque repellat vitae, possimus expedita aliquam impedit iste id?</p>
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-12 position-relative ">
            <img src="assets/images/Status=Our vision.webp" class="special-img" alt="">
            <div class="text d-flex flex-column align-items-center justify-content-center text-white ">
                <h3 class="fs-1 text-white ">Diversity</h3>
                <p class="mt-3 fs-5 px-6 text-center ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed velit doloremque repellat vitae, possimus expedita aliquam impedit iste id?</p>
            </div>
        </div>
    </div>
    <div class="row p-0">
        <div class="col-lg-6 p-0 position-relative">
            <img src="assets/images/Status=Our collections.webp" alt="">
            <div class="text d-flex flex-column align-items-center justify-content-center text-white ">
                <h3 class="fs-1 text-white ">Diversity</h3>
                <p class="mt-3 fs-5 px-6 text-center ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed velit doloremque repellat vitae, possimus expedita aliquam impedit iste id?</p>
            </div>
        </div>
        <div class="col-lg-6 p-0 position-relative">
            <img src="assets/images/Status=Solutions & Services.webp" alt="">
            <div class="text d-flex flex-column align-items-center justify-content-center text-white ">
                <h3 class="fs-1 text-white ">Diversity</h3>
                <p class="mt-3 fs-5 px-6 text-center ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed velit doloremque repellat vitae, possimus expedita aliquam impedit iste id?</p>
            </div>
        </div>
    </div>
</section>