<section id="features" class="features overflow-hidden">
    <div class="container-fluid w-90 mx-auto py-5">
     <div class="row gy-4">
        <div  class="col-lg-3 column ">
            <div class=" inner ">
                <div class="header d-flex align-items-center jusify-content-center">
                    <i class="fa-solid fa-medal fs-2"></i>
                    <h3>Quality</h3>
                </div>
                <div class="body-text w-50">
                    <p>We consistently seek quality and sustainability across all levels of our business to deliver value to our clients .</p>

                </div>
            </div>
        </div>

        <div  class="col-lg-3 ">
            <div class=" inner ">
                <div class="header d-flex align-items-center jusify-content-center">
                    <i class="fa-solid fa-suitcase-rolling fs-2"></i>  
                    <h3 class="ms-1">Professionalism</h3>
                </div>
                <div class="body-text w-95">
                    <p>The experienced execution team is accustomed to handling heavy workloads and overtime to ensure they are capable of assembling efficiently.
                    </p>

                </div>
            </div>
        </div>

        <div  class="col-lg-3 ">
            <div class=" inner ">
                <div class="header d-flex align-items-center jusify-content-center">
                    <i class="fa-regular fa-folder-closed fs-2"></i>
                     <h3 class="ms-2">Custom Order</h3>
                </div>
                <div class="body-text w-75">
                    <p>We have the capability to fulfill custom and special orders to meet our clients' quality and delivery specifications.

                    </p>

                </div>
            </div>
        </div>

        <div  class="col-lg-3 ">
            <div class=" inner ">
                <div class="header d-flex align-items-center jusify-content-center">
                    <i class="fa-solid fa-user-group fs-2"></i>
                    <h3 class="ms-2">Our Team</h3>
                </div>
                <div class="body-text w-70">
                    <p>Our future vision involves ongoing investment in talented and experienced individuals to foster innovation, creativity, and streamline the execution process.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
</section> 
