<!-- Navbar Section -->
 <section class="hero ">
    <!-- <nav class=" navbar navbar-expand-lg  ">
        <div class="continer-fluid mt-4 d-flex justify-content-between  w-90 mx-auto ">
          <a class="navbar-brand" href="#"><img src="assets/images/Logo.webp"class="LogoImg" alt="Logo"></a>
    
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto  mb-lg-0 fs-3 ">
              
              <li class="nav-item" >
                <a class="nav-link" href="#Features" routerLink="">Features</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="#AboutUs" routerLink="">About Us</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="#OurProducts" routerLink="">Our Products</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="#ContactUs" >Contact Us</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" routerLink="checkout" >Check Out </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>  -->
      <section class="nav-bar ">
        <nav class="navbar navbar-expand-lg   container">
            <a class="navbar-brand logo "  href="#" ><img src="assets/images/Logo.webp"class="LogoImg" alt=""></a>
            <button _ngcontent-ng-c4172985499="" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" (click)="toggleNavbar()" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler d-lg-none collapsed"><span _ngcontent-ng-c4172985499="" class="navbar-toggler-icon"></span></button>
          
            <div class="collapse navbar-collapse " id="navbarSupportedContent"  [style.display]="navbarOpen ? 'flex' : 'none'">
              <ul class="navbar-nav mx-auto">
            
                <li class="nav-item">
                  <a class="nav-link" href="#Features" routerLink="">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#AboutUs" routerLink="">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#OurProducts" routerLink="">Our Products</a>
                  </li>
               
                  <li class="nav-item" >
                    <a class="nav-link" href="#ContactUs" >Contact Us</a>
                  </li>
                  <li class="nav-item" >
                    <a class="nav-link" routerLink="checkout" >Check Out </a>
                  </li>
           
                    
          
              </ul>
              <!-- <ul class="mt-2">
                <li class="logo"> -->

                <!-- </li>
              </ul> -->
           
            </div>

          </nav>

</section>

      
      <!--  -->
    <div class="body">
      <h2 class="h1 ">Furniture <span>vision</span></h2>
      <h3>For better <span>experience</span></h3>
      <button class="btn-main">Start Shopping</button>
    </div>
    </section>
    <!-- features section -->
    <section id="about-us" class="about-us overflow-hidden">
        <div class="container-fluid w-90 mx-auto py-5">
         <div class="row gy-4">
            <div  class="col-lg-3 column ">
                <div class=" inner ">
                    <div class="header d-flex align-items-center jusify-content-center">
                        <i class="fa-solid fa-medal fs-2"></i>
                        <h3>Quality</h3>
                    </div>
                    <div class="body-text w-50">
                        <p>We consistently seek quality and sustainability across all levels of our business to deliver value to our clients .</p>
    
                    </div>
                </div>
            </div>
    
            <div  class="col-lg-3 ">
                <div class=" inner ">
                    <div class="header d-flex align-items-center jusify-content-center">
                        <i class="fa-solid fa-suitcase-rolling fs-2"></i>  
                        <h3 class="ms-1">Professionalism</h3>
                    </div>
                    <div class="body-text w-95">
                        <p>The experienced execution team is accustomed to handling heavy workloads and overtime to ensure they are capable of assembling efficiently.
                        </p>
    
                    </div>
                </div>
            </div>
    
            <div  class="col-lg-3 ">
                <div class=" inner ">
                    <div class="header d-flex align-items-center jusify-content-center">
                        <i class="fa-regular fa-folder-closed fs-2"></i>
                         <h3 class="ms-2">Custom Order</h3>
                    </div>
                    <div class="body-text w-75">
                        <p>We have the capability to fulfill custom and special orders to meet our clients' quality and delivery specifications.
    
                        </p>
    
                    </div>
                </div>
            </div>
    
            <div  class="col-lg-3 ">
                <div class=" inner ">
                    <div class="header d-flex align-items-center jusify-content-center">
                        <i class="fa-solid fa-user-group fs-2"></i>
                        <h3 class="ms-2">Our Team</h3>
                    </div>
                    <div class="body-text w-70">
                        <p>Our future vision involves ongoing investment in talented and experienced individuals to foster innovation, creativity, and streamline the execution process.
                        </p>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section> 
    
    <section class="home">
        <div class="row p-0">
            <div class="col-lg-6 p-0 position-relative ">
                <img src="assets/images/Status=Diversity.webp" alt="">
                <div class="text d-flex flex-column align-items-center justify-content-center text-white ">
                <h3 class="fs-1 text-white text-white ">Diversity</h3>
                <p class="mt-3 fs-5 px-6 text-center ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed velit doloremque repellat vitae, possimus expedita aliquam impedit iste id?</p>
            </div>
            </div>
            <div class="col-lg-6 p-0 position-relative">
                <img src="assets/images/Status=Our collections.webp" alt="">
                <div class="text d-flex flex-column align-items-center justify-content-center text-white ">
                    <h3 class="fs-1 text-white ">Diversity</h3>
                    <p class="mt-3 fs-5 px-6 text-center ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed velit doloremque repellat vitae, possimus expedita aliquam impedit iste id?</p>
                </div>
    
    
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 position-relative">
                <img src="assets/images/Status=Our vision.webp" alt="">
                <div class="text d-flex flex-column align-items-center justify-content-center text-white ">
                    <h3 class="fs-1 text-white ">Diversity</h3>
                    <p class="mt-3 fs-5 px-6 text-center ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed velit doloremque repellat vitae, possimus expedita aliquam impedit iste id?</p>
                </div>
            </div>
        </div>
        <div class="row p-0">
            <div class="col-lg-6 p-0 position-relative">
                <img src="assets/images/Status=Our collections.webp" alt="">
                <div class="text d-flex flex-column align-items-center justify-content-center text-white ">
                    <h3 class="fs-1 text-white ">Diversity</h3>
                    <p class="mt-3 fs-5 px-6 text-center ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed velit doloremque repellat vitae, possimus expedita aliquam impedit iste id?</p>
                </div>
            </div>
            <div class="col-lg-6 p-0 position-relative">
                <img src="assets/images/Status=Solutions & Services.webp" alt="">
                <div class="text d-flex flex-column align-items-center justify-content-center text-white ">
                    <h3 class="fs-1 text-white ">Diversity</h3>
                    <p class="mt-3 fs-5 px-6 text-center ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed velit doloremque repellat vitae, possimus expedita aliquam impedit iste id?</p>
                </div>
            </div>
        </div>
    </section>
    <!-- about section -->
    <section id="#about-us">
        <app-about-us></app-about-us>
    </section>
    <!-- contact-us section -->
  <section  id="contact-us">
    <app-contact-us></app-contact-us>
  </section>
      <!-- products section -->
      <section id="products">
        <app-products></app-products>
      </section>